.mob-nav, .main-info__mob-img, #team h2 {
	display: none
}

@media screen and (min-width: 1600px) {
	.header {
		padding: 30px 40px;
		font-size: 20px
	}

	.description {
		padding: 8px 17px;
		font-size: 30px
	}

	.menu-services {
		font-size: 20px
	}

	.service__description, .service__benefits {
		font-size: 22px
	}

	h2 {
		font-size: 36px
	}

	.team__item {
		font-size: 20px;
		height: 350px
	}

	.contacts__desc {
		font-size: 20px
	}

	.feedback {
		font-size: 20px
	}

	.menu-services {
		bottom: 90px
	}
}

@media screen and (max-width: 767px) {
	#team h2 {
		display: block
	}

	h2 {
		text-align: center;
		margin: 10px 0 20px
	}

	.service__price {
		text-align: center
	}

	#contacts h2 {
		margin: 10px 0 40px
	}

	.navigation {
		display: none
	}

	.mob-nav {
		display: block
	}

	.header-wrap {
		position: fixed;
		border-bottom: 1px solid #252525;
		background-color: #160206;
		z-index: 200;
		height: 50px
	}

	.content {
		height: calc(100vh)
	}

	.main-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		position: relative;
		top: auto
	}

	.main-info__mob-img {
		display: block;
		position: absolute;
		z-index: -1;
		max-width: 90%
	}

	.main-img {
		display: none;
	}

	.sphere {
		display: none
	}

	.logo {
		height: auto;
		width: 90%;
		max-width: 550px;
		margin: 0;
	}

	.description h1 {
		letter-spacing: 5px;
	}

	.team__item {
		padding: 20px;
		width: 200px;
	}

	.team__item:nth-child(4n) {
		padding-right: 20px
	}

	.contacts {
		flex-direction: column
	}

	.contacts__info {
		width: auto;
		margin-right: 0;
		padding: 0
	}

	.feedback {
		width: auto;
		max-width: none;
		padding: 40px 0 60px
	}
}

@media screen and (max-width: 550px) {
	.description {
		width: 100%
	}

	.description h1 {
		font-size: 17px;
		letter-spacing: 3px
	}

	.service {
		flex-direction: column-reverse
	}

	.service__info {
		width: 100%;
		padding-left: 0
	}

	.box_service {
		max-height: none;
		margin: 0 0 80px
	}

	.team {
		margin-bottom: 80px
	}

	.service__img {
		width: 100%;
		max-width: 250px;
		margin-top: 40px
	}

	.team {
		margin-left: -20px;
		margin-right: -20px
	}

	.team__item {
		padding: 20px
	}
}

@media screen and (max-width: 420px) {
	.description {
		margin-top: 0
	}

	.description h1 {
		font-size: 15px;
		letter-spacing: 2px
	}
}

@media screen and (max-width: 350px) {
	.description h1 {
		font-size: 15px
	}
}