.mob-nav, .main-info__mob-img {
	display: none;
}
@media screen and (max-width: 767px) {
	.navigation {
		display: none;
	}
	.mob-nav {
		display: block;
	}
	.header-wrap {
		position: fixed;
		border-bottom: 1px solid #252525;
		background-color: #160206;
		z-index: 200;
		height: 50px;
	}
	.content {
		height: calc(100vh);
	}
	.main-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		position: relative;
		top: auto;
	}
	.main-info__mob-img {
		display: block;
		position: absolute;
		z-index: -1;
		max-width: 90%;
	}
	.sphere {
		display: none;
	}
	.logo {
		height: auto;
		width: 90%;
		max-width: 550px;
	}
	.description h1 {
		letter-spacing: 5px;
	}
	.team__item {
		padding: 20px;
		width: 200px;
	}
	.team__item:nth-child(4n) {
		padding-right: 20px;
	}
	.contacts {
		flex-direction: column;
	}
	.contacts__info {
		width: auto;
		margin-right: 0;
	}
	.feedback {
		width: auto;
		max-width: none;
		padding: 40px 0 20px;
	}
	.contacts__info h2 {
		text-align: center;
		margin: 60px 0 40px;
	}
}
@media screen and (max-width: 550px) {
	.description {
		width: 100%;
	}
	.description h1 {
		font-size: 17px;
		letter-spacing: 3px;
	}
	.service {
		flex-direction: column-reverse;
	}
	.service__info {
		width: 100%;
		padding-left: 0;
	}
	.box_service {
		max-height: none;
		margin: 0 0 60px;
	}
	.service__img {
		width: 100%;
		max-width: 250px;
		margin-top: 40px;
	}
	.team {
		margin: 0 -20px;
	}
	.team__item {
		padding: 20px;
	}
}
@media screen and (max-width: 420px) {
	.description {
		margin-top: 0;
	}
	.description h1 {
		font-size: 15px;
		letter-spacing: 2px;
	}
}
@media screen and (max-width: 350px) {
	.description h1 {
		font-size: 15px;
	}
}