@import url(normalize.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,900&subset=cyrillic);
@import url(mouse.css);
@import url(mobile-menu.css);

body {
	background: #000;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	min-width: 320px
}

h2 {
	font-size: 30px;
	font-weight: 700;
	margin: 0 0 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: left
}

input, textarea {
	display: block;
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid rgba(151, 4, 20, .45);
	padding: 10px;
	border-radius: 4px;
	color: #fff;
	background-color: transparent
}

input:focus, textarea:focus {
	outline: none
}

a {
	color: #fff;
	text-decoration: none
}

.pp-section:not(:first-child) {
	background: url(/img/bg.png) repeat
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px
}

.box_service {
	max-height: calc(100% - 200px);
	overflow-x: auto;
	margin: 10px 0 70px
}

.header-wrap {
	position: absolute;
	width: 100%;
	z-index: 20
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 25px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 1px
}

.lang {
	display: flex
}

.lang__item {
	margin-right: 10px
}

.lang__item:last-child {
	margin-right: 0
}

.lang__item_active {
	font-weight: 900
}

.menu {
	display: flex
}

.menu__item {
	position: relative;
	margin-right: 40px;
	font-weight: 200
}

.menu__item:last-child {
	margin-right: 0
}

.menu__item.active:after {
	content: "●";
	display: block;
	position: absolute;
	left: calc(50% - 6px);
	font-size: 16px
}

.content {
	position: relative;
	height: calc(100vh - 60px - 60px)
}

.main-info {
	position: absolute;
	top: calc(50% - 136px);
	z-index: 2;
	width: 100%;
	text-align: center
}

.logo {
	height: 25vh
}

.description {
	display: inline-block;
	padding: 5px 7px;
	background-color: #990414;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-size: 22px;
	margin-top: 10px
}

.description h1 {
	font-size: inherit;
	margin: 0
}

.sphere {
	width: 100%;
	height: 100%
}

.menu-services, .menu-works {
	display: none;
	position: absolute;
	bottom: 75px;
	width: 100%;
	z-index: 20;
	align-items: center;
	justify-content: center;
	color: #fff
}

.menu-services_active, .menu-works_active {
	display: flex
}

.menu-services__item {
	padding: 10px 20px;
	border: 1px solid #252525;
	border-left: 0;
	font-weight: 200;
	cursor: pointer;
	opacity: 0.9;
	color: #a9a9a9;
	filter: saturate(0%);
	align-items: center;
	display: flex;
}

.menu-services__item:hover {
	background-color: #171717;
	opacity: 1;
	color: #fff;
	filter: saturate(100%);
}

.menu-services__item:first-child {
	border-radius: 2px 0 0 2px;
	border-left: 1px solid #252525
}

.menu-services__item:last-child {
	border-radius: 0 2px 2px 0
}

.btn, .menu-services__item.active {
	background-color: #1b0104;
	-webkit-box-shadow: 0 0 27px 0 rgba(153, 4, 20, 1);
	-moz-box-shadow: 0 0 27px 0 rgba(153, 4, 20, 1);
	box-shadow: 0 0 27px 0 rgba(153, 4, 20, 1);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	opacity: 1;
	color: #fff;
	filter: saturate(100%);
}

.btn {
	cursor: pointer
}

.btn:hover {
	background-color: #290208;
	-webkit-box-shadow: 0 0 42px 0 rgba(153, 4, 20, 1);
	-moz-box-shadow: 0 0 42px 0 rgba(153, 4, 20, 1);
	box-shadow: 0 0 42px 0 rgba(153, 4, 20, 1)
}

.btn[disabled=disabled] {
	background-color: #171717;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 1px solid #252525;
	cursor: default
}

.service {
	display: flex;
	align-items: center
}

.service_left {
	flex-direction: row-reverse
}

.service__img {
	width: 30%;
	max-width: 330px
}

.service__info {
	width: 70%;
	padding-left: 5%
}

.service_left .service__info {
	padding: 0 5% 0 0
}

.service__price {
	font-size: 24px;
	font-weight: 700;
	color: #bdbdbd;
	margin-bottom: 20px
}

.service__description {
	font-size: 18px;
	font-weight: 200;
	margin-bottom: 30px
}

.service__benefits {
	font-size: 18px;
	font-weight: 200
}

.team {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center
}

.team__item {
	width: 18%;
	padding: 1% 5% 2% 0;
	box-sizing: content-box;
	text-align: center
}

.team__item:nth-child(4n) {
	padding-right: 0
}

.team__img {
	width: 100%;
	max-width: 300px;
	border-radius: 6px;
	margin-bottom: 10px
}

.team__separator {
	color: #cc3142
}

.contacts {
	display: flex;
	justify-content: center
}

.contacts__desc {
	font-weight: 200;
	font-size: 18px
}

.contacts__soc {
	margin-top: 20px;
	font-weight: 400;
	color: #bdbdbd
}

.phone {
	display: block;
	margin: 20px 0;
	font-weight: 700;
	text-decoration: none;
	color: #fff
}

.link {
	text-decoration: underline;
	color: #cc3142
}

.link_text {
	color: #cc3142
}

.contacts__info {
	margin-right: 20px;
	padding: 20px
}

.feedback {
	width: 100%;
	max-width: 500px;
	padding: 20px;
	position: relative
}

.feedback input:last-child {
	margin-bottom: 0
}

.loader {
	position: absolute;
	top: calc(50% - 25px);
	right: calc(50% - 25px);
	border: 5px solid #3f3f3f;
	border-top: 5px solid #990414;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
	z-index: 201
}

@keyframes spin {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

.loader-wrap {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #111;
	width: 100%;
	height: 100%;
	z-index: 200
}

#page-loader {
	display: block
}

#form-loader {
	background-color: rgba(17, 17, 17, .5)
}

.pp-tableCell {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh
}

.center {
	text-align: center;
}

.nav-works__icon {
	padding: 0 10px;
	width: 70px;
	filter: brightness(0.5);
	cursor: pointer;
}
.nav-works__icon:hover {
	filter: brightness(1);
}
.menu-works__icon {
	height: 30px;
	margin-right: 10px;
}
.work {
	display: flex;
	align-items: center;
	padding-bottom: 50px;
}
.work-title {
	text-align: center;
}
.work__img {
	width: 100%;
	max-width: 500px;
	margin-right: 10px;
}
.work__title {
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: bold;
}